<div class="container" ng-if="!user.uid">
	<div class="row">
	  <div class="col-sm-6">
	  	<img class="primary-logo img-responsive" src="/images/taymrecordslogo_white.png">
	  </div>

	  <div class="col-sm-6">
		  <input type="email" style="text-transform:uppercase" id="inputEmail" class="form-control form-spacing login-input" placeholder="EMAIL ADDRESS" ng-model="auth.email" required autofocus>
		  <input type="password" class="form-control form-spacing login-input" placeholder="PASSWORD" ng-model="auth.password" required>
		  <input type="text" style="text-transform:uppercase" class="form-control form-spacing login-input" placeholder="USERNAME" ng-model="auth.username" required>
		  <a class="btn no-border-btn col-xs-6" ng-click="loginUser()">LOGIN</a>
		  <a class="btn no-border-btn col-xs-6" ng-click="registerUser()">REGISTER</a>
	  </div>
	</div>
</div>