<div class="container">
	<div class="row">
	  <div class="col-sm-6">
	  </div>

	  <div class="col-sm-6">
		  <input type="email" id="inputEmail" class="form-control form-spacing" placeholder="EMAIL ADDRESS" ng-model="auth.email" required autofocus>
		  <input type="password" class="form-control form-spacing" placeholder="PASSWORD" ng-model="auth.password" required>
		  <input type="text" class="form-control form-spacing" placeholder="USERNAME" ng-model="auth.username" required>
		  <a class="btn btn-lg btn-success col-xs-6" ng-click="loginUser()">LOGIN</a>
		  <a class="btn btn-lg btn-primary col-xs-6" ng-click="registerUser()">REGISTER</a>
	  </div>
	</div>
</div>