<div class="row">
	<div class="col-xs-6">
		<input type="text" style="text-transform:uppercase" name="" placeholder="SEARCH COLLECTION" ng-model="searchText">
	</div>
</div>

<div ng-if="!isFriendProfile">
	<div class="container">
		<div class="row">
		  <div class="col-sm-3" ng-repeat="record in records | filter: searchText">
		  	<div class="thumbnail-container">
			    <div class="thumbnail">
			      	<img src="{{record.image}}" class="thumbnail-art">
			      	<span class="thumbnail-effect">
			      		<a class="btn btn-default" ng-href="#!/record/view/{{record.id}}">VIEW MORE</a>
			      	</span>
			    </div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div ng-if="isFriendProfile">

	<div class="friend-collection-pic"><img src="{{friend.profile_pic}}"></div>
	<h4>{{friend.username}}'s COLLECTION</h4>

	<div class="container">
		<div class="row">
		  <div class="col-sm-3" ng-repeat="record in records | filter: searchText">
		  	<div class="thumbnail-container">
			    <div class="thumbnail">
			      	<img src="{{record.image}}" class="thumbnail-art">
			      	<span class="thumbnail-effect">
			      		<a class="btn btn-default" ng-href="#!/record/friend/{{friend.uid}}/view/{{record.id}}">VIEW MORE</a>
			      	</span>
			    </div>
			</div>
		  </div>
		</div>
	</div>
</div>
