<input type="image" class="thumbnail" ng-model="addedRecordInfo.image" ng-src="{{addedRecordInfo.image | trusted}}">
<input type="text" style="text-transform:uppercase" name="" placeholder="ALBUM TITLE" ng-model="addedRecordInfo.name">
<input type="text" style="text-transform:uppercase" name="" placeholder="ARTIST NAME" ng-model="addedRecordInfo.artist">
<input type="text" style="text-transform:uppercase" name="" placeholder="PURCHASE LOCATION" ng-model="addedRecordInfo.purchase_location">
<a class="btn no-border-btn" ng-click="addNewRecord()">ADD TO COLLECTION</a>