<input type="text" style="text-transform:uppercase" name="" placeholder="SEARCH FOR RECORDS" ng-model="userRecordSearch">
<a class="btn no-border-btn" ng-click="searchRecordsButton()">SEARCH</a>

	<div class="container">
		<div class="row">
		  <div class="col-sm-3" ng-repeat="info in searchedArtistAndTitleArray track by $index">
		  	<div class="thumbnail-container">
			    <div class="thumbnail">
			      	<img src="{{info.searchedAlbumArt}}" class="thumbnail-art">
			      	<span class="thumbnail-effect">
			      		<a class="btn" ng-click="viewSelectedRecord(info.searchedArtistAlbumTitle, info.searchedArtistName)">SELECT</a>
			      	</span>
			    </div>
			</div>
		  </div>
		</div>
	</div>
</div>