<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4" ng-include="'partials/user-side-profile.html'"></div>


      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-1 thumbnail view-thumbnail" ng-if="selectedRecord.purchase_location">
            	<img ng-src="{{selectedRecord.image}}">
            </div>
            <div class="view-info">
                <h3>{{selectedRecord.name | makeTextUppercase}}</h3>
                <h4>{{selectedRecord.artist | makeTextUppercase}}</h4>
                <br>
                <h5>PURCHASE LOCATION:</h5>
                <h4>{{selectedRecord.purchase_location | makeTextUppercase}}</h4>
            </div>
            <div ng-if="!isFriendProfile">
               <a ng-href="#!/record/edit/{{selectedRecord.id}}"><button class="btn no-border-btn">EDIT</button></a>
                <a><button class="btn no-border-btn" ng-click="deleteRecord(selectedRecord.id)">DELETE</button></a>
            </div>
         </div>
    </div>

</div> <!-- row -->





<!-- <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4" ng-include="'partials/user-side-profile.html'"></div>
    
    <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="col-xs-12 col-sm-4" ng-repeat="user in users | filter: searchText">
                <div class="thumbnail-container">
                    <div class="thumbnail">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->