<div class="row">
	<div class="profile-column">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="{{user.profile_pic}}" class="img-responsive">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{user.username}}</div>
			</div>
			<div class="profile-usermenu">
				<ul class="nav">
					<li><a ng-href="#!/record/list">VIEW COLLECTION</a></li>
					<li><a ng-href="#!/record/search">ADD TO COLLECTION</a></li>
					<li><a ng-href="#!/view-friends">VIEW FRIENDS</a></li>
					<img src="/images/taymrecordslogo_pie.jpg" class="pie-logo">
				</ul>
			</div>
		</div>
	</div>
</div>
