.profile-column .profile-sidebar {
  min-height: 410px;
}

.profile-sidebar {
  padding: 30px 0 10px 0;
  background: white;
  opacity: 0.9;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: $slategray;
  font-size: 2rem;
}

.profile-userbuttons {
  text-align: center;
}
   
.profile-usermenu {
  margin-top: 15px;
  text-align: center;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-content {
  padding: 20px;
  background: white;
  min-height: 410px;
}