@import "color";
@import "thumbnail";
@import "profile-user-menu";
@import "delete-modal";

input:focus,
select:focus,
textarea:focus,
a:focus,
a:active,
.btn:focus,
.btn:active,
.no-border-btn:focus,
.no-border-btn:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

body {
  background-color: $slategray;
  font-family: 'Righteous', cursive;
  color: white;
  letter-spacing: 0.4rem;
}

nav {
  padding-top: 15px;
}

.navbar {
  background-color: transparent;
  border: none;
}

.secondary-logo {
  color: white;
  transition: .5s ease;
  font-size: 2rem;
  text-decoration: none !important;
}

.navbar-header .secondary-logo:visited {
  color: white;
}

.secondary-logo:hover {
  color: white;
  transition: .5s ease;
  opacity: 0.8;
  text-decoration: none;
}

.input-field {
  width: 70%;
  color: $slategray;
  padding: 10px;
  margin-bottom: 20px;
  transition: .5s ease;
}

.input-field:focus {
  color: $slategray;
  opacity: 0.8;
  transition: .5s ease; 
}

.center-input {
  margin-right: 15px;
  text-align: center;
}

.search-input {
  width: 55%;
}

.btn {
  padding: 12px;
  background-color: white;
  border: 2px solid $slategray;
  color: $slategray;
}

.btn:hover {
  color: $slategray;
}

.no-border-btn {
  background-color: white;
  border: none;
  color: $slategray;
  padding-left: 17px;
  letter-spacing: 0.4rem;
  transition: .5s ease;
}

.no-border-btn:hover {
  color: $slategray;
  opacity: 0.8;
  transition: .5s ease;
}

.login-register-btn {
  width: 35%;
}

.view-info {
  margin-top: 20%;
}

p {
  text-align: center;
  color: $slategray;
}

.login-form {
  margin-top: 35%;
  text-align: center;
}

ul li a {
  color: $slategray;
  transition: .5s ease;
}

ul li a:hover,
ul li a:visited {
  color: $slategray;
  background-color: white !important;
  transition: .5s ease;
  opacity: 0.3;
}

.primary-logo {
  width: 375px;
  margin-top: 10%;
}

.slogan-text {
  text-align: center;
}

.aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pie-logo {
  width: 90px;
  padding: 15px 0;
}

.friend-collection-pic {
  justify-content: center;
}

.friend-collection-pic img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.friend-username {
  display: inline-block;
  text-align: left;
  margin-top: 15px;

}

@media screen and (max-width: 1199px) {
  .col-sm-4 {
    width: 33.33333333%;
  }

}

@media screen and (max-width: 991px) {
  .col-sm-4 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-4 {
    width: 50%;
  }
}

@media screen and (max-width: 585px) {
  
}

@media screen and (max-width: 400px) {
  .col-sm-4 {
    width: 100%;
  }
}