app.constant("FIREBASE_CONFIG", {
    apiKey: "",
    authDomain: "",
    databaseURL: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: ""
});

app.constant("DISCOGS_CONFIG", {
    key: "",
    secret: ""
});

app.constant("LASTFM_CONFIG", {
    apiKey: ""
});