	<div class="row" ng-if="!user.uid">
	  	<div class="col-sm-6 col-xs-12 aligner">
	  		<img class="primary-logo img-responsive" src="/images/taymrecordslogo_white.png">
			<h3>YOUR ONLINE VINYL DATABASE.</h3>
	  	</div>

		<div class="col-sm-6 col-xs-12 aligner">
			<div class="login-form">
				<input type="email" style="text-transform:uppercase" id="inputEmail" class="input-field" placeholder="EMAIL ADDRESS" ng-model="auth.email" required autofocus>
				<input type="password" class="input-field" placeholder="PASSWORD" ng-model="auth.password" required>
				<input type="text" style="text-transform:uppercase" class="input-field" placeholder="USERNAME" ng-model="auth.username" required>
				<a class="btn no-border-btn" ng-click="loginUser()">LOGIN</a>
				<a class="btn no-border-btn" ng-click="registerUser()">REGISTER</a>
			</div>
		</div>
	</div>