<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4" ng-include="'partials/user-side-profile.html'"></div>

    <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="row aligner">
            <img class="thumbnail add-thumbnail" ng-model="addedRecordInfo.image" ng-src="{{addedRecordInfo.image | trusted}}">	

			<input type="text" class="input-field add-record-input-field" style="text-transform:uppercase" name="" placeholder="ALBUM TITLE" ng-model="addedRecordInfo.name">

			<input type="text" class="input-field add-record-input-field" style="text-transform:uppercase" name="" placeholder="ARTIST NAME" ng-model="addedRecordInfo.artist">

			<input type="text" class="input-field add-record-input-field" style="text-transform:uppercase" name="" placeholder="PURCHASE LOCATION" ng-model="addedRecordInfo.purchase_location">

			<div>
				<a href="javascript:void(0);" class="btn no-border-btn" ng-click="backToRecordInfoButton()">CANCEL</a>
				<a class="btn no-border-btn" ng-click="addNewRecord()">ADD RECORD</a>	
			</div>
		</div>

    </div>

</div> <!-- row -->