input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

body {
  /*  background-image: url(/images/25remix-mojave-custom1.jpg);*/
  background-color: #726967;
  font-family: 'Righteous', cursive;
  color: white;
  letter-spacing: 0.4rem; }

input {
  color: #726967; }

input:focus {
  color: #726967;
  opacity: 0.8;
  transition: .5s ease; }

.btn {
  background-color: white;
  border: 2px solid #726967;
  color: #726967; }

.no-border-btn {
  background-color: white;
  border: none;
  color: #726967; }

.btn:hover {
  color: #726967; }

.no-border-btn:hover {
  color: #726967;
  opacity: 0.8;
  transition: .5s ease; }

.thumbnail-art {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  text-align: center;
  z-index: 10; }

.thumbnail-effect {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.thumbnail-container:hover .thumbnail-art {
  opacity: 0.3; }

.thumbnail-container:hover .thumbnail-effect {
  opacity: 1; }

p {
  text-align: center;
  color: #726967; }

.login-input {
  border-style: none;
  color: white;
  background-color: transparent;
  border-bottom: 2px solid white; }

.navbar {
  background-color: transparent;
  border: none; }
  .navbar .navbar-brand {
    color: white; }

.toggled {
  position: absolute;
  margin-right: -250px; }

#profileCol .profile-sidebar {
  min-height: 410px; }

.profile {
  margin: 20px 0; }

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: white; }

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.profile-usertitle {
  text-align: center;
  margin-top: 20px; }

.profile-usertitle-name {
  color: #726967;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px; }

.profile-userbuttons {
  text-align: center;
  margin-top: 10px; }

.profile-usermenu {
  margin-top: 30px;
  text-align: center; }

.profile-usermenu .nav:hover {
  background-color: none;
  opacity: .5; }

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px; }

.profile-content {
  padding: 20px;
  background: white;
  min-height: 410px; }

.friend-collection-pic img {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%; }
