body {
  background-color: #726967;
  font-family: 'Righteous', cursive;
  color: white;
  letter-spacing: 0.4rem; }

input {
  color: #726967; }

.login-input {
  border-style: none;
  color: white;
  background-color: transparent;
  border-bottom: 2px solid white; }

.navbar {
  background-color: transparent;
  border: none; }
  .navbar .navbar-brand {
    color: white; }

.toggled {
  position: absolute;
  margin-right: -250px; }

#profileCol .profile-sidebar {
  min-height: 410px; }

.profile {
  margin: 20px 0; }

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: white; }

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.profile-usertitle {
  text-align: center;
  margin-top: 20px; }

.profile-usertitle-name {
  color: #726967;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px; }

.profile-userbuttons {
  text-align: center;
  margin-top: 10px; }

.profile-usermenu {
  margin-top: 30px;
  text-align: center; }

.profile-usermenu .nav:hover {
  background-color: none;
  opacity: .5; }

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px; }

.profile-content {
  padding: 20px;
  background: white;
  min-height: 410px; }
